*.py[cod]
__pycache__/
*.pyo
*.pyd
venv/
ENV/
env/
.venv/
.env
*.env
coverage/
htmlcov/
.tox/
.nox/
.pytest_cache/
db.sqlite3
staticfiles/
media/
*.egg
*.egg-info/
dist/
build/
.eggs/
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
*.log
*.bak
*.swp
.DS_Store
Thumbs.db
